.songs-list {
  margin-top: 55px;

  .ui-status { display: none; }
  &.empty {
      .ui-status.empty {display: block}
  }
  &.loading {
      .ui-status.loading {display: block}
  }
  &.error {
    .ui-status.error {display: block}
  }
  &.ideal {
    .ui-status.ideal {display: block}
  }

  &.empty, &.loading, &.error {
    font-size: $font-size-large;
    text-align: center;
    padding: 50px;
  }

  .song {
    box-sizing: border-box;
    width: calc(50% - 10px);
    float: left;
    background-color: $color-silver;
    padding: 15px;
    margin:10px 5px;
    max-height: 250px;
    height: 250px;
    overflow: hidden;
    @include if-mobile-landscape {
        width:calc(25% - 10px)
    }
    .cover{
      width: 100%;
    }
    .artist {
      font-weight: bold;
      margin-top: 10px;
      font-size: $font-size-large;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .title{
      margin-top: 5px;
    }
  }
}