.songs-list {
  margin-top: 55px;
  .song {
    box-sizing: border-box;
    width: calc(50% - 10px);
    float: left;
    background-color: $color-silver;
    padding: 15px;
    margin:10px 5px;
    max-height: 250px;
    height: 250px;
    overflow: hidden;
    @include if-mobile-landscape {
        width:calc(25% - 10px)
    }
    .cover{
      width: 100%;
    }
    .artist {
      font-weight: bold;
      margin-top: 10px;
      font-size: $font-size-large;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .title{
      margin-top: 5px;
    }
  }
}