<section class="songs-list">
    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
        <div class="artist">Artist name</div>
        <div class="title">Song title bla bla bla</div>
    </article>
    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
        <div class="artist">Artist name</div>
        <div class="title">Song title bla bla bla</div>
    </article>
    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
        <div class="artist">Artist name</div>
        <div class="title">Song title bla bla bla</div>
    </article>
    <article class="song">
        <img  class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title">
        <div class="artist">Artist name</div>
        <div class="title">Song title bla bla bla</div>
    </article>
    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
        <div class="artist">Artist name</div>
        <div class="title">Song title bla bla bla</div>
    </article>
    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
        <div class="artist">Artist name</div>
        <div class="title">Song title bla bla bla</div>
    </article>
    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
        <div class="artist">Artist name</div>
        <div class="title">Song title bla bla bla</div>
    </article>
    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
        <div class="artist">Artist name</div>
        <div class="title">Song title bla bla bla</div>
    </article>
    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
        <div class="artist">Artist name</div>
        <div class="title">Song title bla bla bla</div>
    </article>
    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
        <div class="artist">Artist name</div>
        <div class="title">Song title bla bla bla</div>
    </article>
</section>