<section class="songs-list empty">
    <div class="ui-status empty">
        No hay  ninguna cancion
    </div>
    <div class="ui-status error">
        Se ha producido un error
    </div>
    <div class="ui-status loading">
        Cargando...
    </div>
    <div class="ui-status ideal">
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title bla bla bla</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title bla bla bla</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title bla bla bla</div>
        </article>
        <article class="song">
            <img  class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title">
            <div class="artist">Artist name</div>
            <div class="title">Song title bla bla bla</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title bla bla bla</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title bla bla bla</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title bla bla bla</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title bla bla bla</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title bla bla bla</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title bla bla bla</div>
        </article>
    </div>

</section>