body{
  background: $color-less-is-less;
  font-family: $main-font-family;
  font-size: $font-size-base;
  color:$main-text-color;
  padding-top: 60px;
}

form {
  padding: 10px;
}

label {

}

input {

}
